<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <title>Mainstreet Bistro</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" type="image/x-icon" href="{% static 'bistro/assets/favicon.ico' %}" />
    <!-- Google fonts-->
    <link
        href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'bistro/css/styles.css' %}" rel="stylesheet" />
</head>

<body>
    <header>
        <h1 class="site-heading text-center text-faded d-none d-lg-block">
            <span class="site-heading-upper text-primary mb-3">Mainstreet Bistro</span>
            <span class="site-heading-lower">Have a Look!</span>
        </h1>
    </header>

    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item px-lg-4"><a class="nav-link text-uppercase"
                            href="{% url 'bistro:Index' %}">Home</a></li>
                    <li class="nav-item px-lg-4"><a class="nav-link text-uppercase"
                            href="{% url 'bistro:TableList' %}">Reservations</a></li>
                    {% if user.is_authenticated %}
                    <li class="nav-item px-lg-4"><a class="nav-link text-uppercase"
                            href="{% url 'bistro:BookingList' %}">Bookings</a></li>
                    <li class="nav-item px-lg-4"><a class="nav-link text-uppercase"
                            href="{% url 'account_logout' %}">Sign Out</a></li>
                    {% else %}
                    <li class="nav-item px-lg-4"><a class="nav-link text-uppercase"
                            href="{% url 'account_login' %}">Sign Up!</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <main class="container mt-4">
        {% block content %}{% endblock %}
    </main>